[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
cloudinary = "*"
dotenv = "*"
django-cloudinary-storage = "*"
pillow = "*"
redis = {extras = ["hiredis"], version = "*"}
django-redis = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.13"
